* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:link {
    color: aliceblue;
  }
  
  .barra:hover {
    color: black;
  }
  
  
  li {
    margin: 20px;
  }
  
  img {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin-bottom: 20px;
    border: 4px solid #c8c8c8;
  }
  
  span {
    color: #59429d;
  }
  
  .text-com-margin {
    margin-left: 60px;
  }

  .text-com-margin-1 {
    margin-left: 60px;
    font-size: 45px;
  }
  
  p {
    margin: 4rem;
  }
  
  #aside-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 320px;
    max-width: 320px;
    text-align: center;
    background-color:#380B61;
  }
  
  #conteudo {
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .rede-social {
    display: flex;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
  }
  
  i {
    font-size: 45px;
    color: #59429d;
    margin-left: 35px;
  }
  
  a:visited {
    color: aliceblue;
  }

  .conhecimentos i{
    font-size: 30px;
    margin-left: 60px;
    
  }

  .assunto {
    margin-left: 60px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #ul-objetivos{
    margin-left: 60px;
  }

  #ol-estudando {
    margin-left: 60px;
  }